# Python
__pycache__/
*.py[cod]
*.so
.Python

.venv/


# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files
data/raw/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db
V1_user_id.json
